/* UI KIT */
:root {
    --black: #241D0F;
    --white: #FFFFFF;
    --gray1: #FAFAFA;
    --gray2: #E6E6E6;
    --gray3: #B3B3B3;
    --gray4: #808080;
    --gray5: #404040;
    --primary1: #FFFFF5;
    --primary2: #FFF9DE;
    --primary3: #FFF1B4;
    --primary4: #FFE578;
    --primary5: #FFCE00;
    --primary6: #FFBF00;
    --blue1: #EFF5FF;
    --blue2: #E0ECFF;
    --blue3: #BAD5FF;
    --blue4: #6DA7FF;
    --blue5: #0D6EFF;
    --blue6: #0C408D;
    --green1: #EBF6F3;
    --green2: #C5EAE0;
    --green3: #9BDAC9;
    --green4: #60C6AA;
    --green5: #00966D;
    --green6: #016147;
    --red1: #FDF4F4;
    --red2: #F9E6E6;
    --red3: #F9C4C5;
    --red4: #F59799;
    --red5: #F64B4F;
    --red6: #AB2328;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    color: var(--black);
    font-weight: 400;
}

/* Buttons */
.btn {
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5rem;
    vertical-align: middle;
    padding: 6px 16px;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.primary-btn {
    background-image: linear-gradient(to right, #FFE578 0%, #FFCE00 51%, #FFBF00 100%);
    color: var(--black);
    --bs-btn-active-border-color: #241D0F;
    --bs-btn-active-color: #241D0F;
}

.primary-btn:hover {
    color: var(--black);
}

.primary-btn:focus {
    color: var(--black);
    background-image: linear-gradient(to right, #FFE578 0%, #FFCE00 51%, #FFBF00 100%);
    border-color: none;
    box-shadow: 0px 0px 0px 3px rgba(255, 206, 0, 0.4);
}

.outline-btn {
    background-color: var(--white);
    color: var(--black);
    border: solid 1px var(--black);
}

.outline-btn:focus {
    color: var(--black);
    background-color: var(--white);
    border: solid 1px var(--black);
    box-shadow: 0px 0px 0px 2px rgba(160, 163, 189, 0.5);
}

.outline-btn:hover {
    background-color: var(--gray1);
    color: var(--black);
    border: solid 1px var(--black);
}

.ghost-btn {
    background-color: var(--white);
    color: var(--blue5);
    text-decoration: underline;
}

.ghost-btn:hover {
    background-color: var(--white);
    color: var(--blue5);
}

.ghost-btn:focus {
    color: var(--blue6);
    background-color: var(--white);
    border: none;
    box-shadow: 0px 0px 0px 3px rgba(32, 156, 238, 0.4);
}
/* End buttons */

/* Inputs  */
.form-control:focus {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
    outline: 0;
    box-shadow: 0px 0px 0px 2px rgba(160, 163, 189, 0.5);
  }
/* End inputs */

/* Alerts */
.alert {
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: .875rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.alert .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1
}

.alert-info {
    color: var(--blue6);
    background-color: var(--blue3);
    border-color: var(--blue3);
  }
/* End alerts */

/* UI KIT */