/* UI KIT */
:root {
    --black: #241D0F;
    --white: #FFFFFF;
    --gray1: #F7F7F7;
    --gray2: #E6E6E6;
    --gray3: #B3B3B3;
    --gray4: #808080;
    --gray5: #404040;
    --primary1: #FFFFF5;
    --primary2: #FFF9DE;
    --primary3: #FFF1B4;
    --primary4: #FFE578;
    --primary5: #FFCE00;
    --primary6: #FFBF00;
    --primary7: #CFA40A;
    --blue1: #EFF5FF;
    --blue2: #E0ECFF;
    --blue3: #BAD5FF;
    --blue4: #6DA7FF;
    --blue5: #0D6EFF;
    --blue6: #0C408D;
    --green1: #EBF6F3;
    --green2: #C5EAE0;
    --green3: #9BDAC9;
    --green4: #60C6AA;
    --green5: #00966D;
    --green6: #016147;
    --red1: #FDF4F4;
    --red2: #F9E6E6;
    --red3: #F9C4C5;
    --red4: #F59799;
    --red5: #F64B4F;
    --red6: #AB2328;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    color: var(--black);
    font-weight: 400;
}

/* Buttons */
.btn {
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5rem;
    vertical-align: middle;
    padding: 6px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    
}

.btn-icon {
    padding: 6px;
}

.btn-style-none {
    background-color: transparent;
    border-color: none;
}

.btn-style-none:hover {
    color: var(--black);
    background-color: transparent;
    border-color: 0;
}

.btn-style-none:focus,
.btn-style-none.focus {
    background-color: transparent;
    border-color: 0 !important;
    box-shadow: 0 0 0 0.2rem transparent !important;
}

.btn-style-none.disabled,
.btn-style-none:disabled {
    color: var(--white);
    background-color: var(--white);
    border-color: 0;
}

.primary-btn {
    background-image: linear-gradient(to right, #FFE578 0%, #FFCE00 51%, #FFBF00 100%);
    color: var(--black);
}

.primary-btn:hover {
    color: var(--black);
}

.primary-btn:focus {
    color: var(--black);
    background-image: linear-gradient(to right, #FFE578 0%, #FFCE00 51%, #FFBF00 100%);
    border-color: none;
    box-shadow: 0px 0px 0px 3px rgba(255, 206, 0, 0.4);
}

.outline-btn {
    background-color: var(--white);
    color: var(--black);
    border: solid 1px var(--black);
}

.outline-btn:focus {
    color: var(--black);
    background-color: var(--white);
    border: solid 1px var(--black);
    box-shadow: 0px 0px 0px 2px rgba(160, 163, 189, 0.5);
}

.outline-btn:hover {
    background-color: var(--gray1);
    color: var(--black);
    border: solid 1px var(--black);
}

.link-btn {
    background-color: var(--white);
    color: var(--blue5);
    text-decoration: underline;
}

.link-btn:hover {
    background-color: var(--white);
    color: var(--blue5);
}

.link-btn:focus {
    color: var(--blue6);
    background-color: var(--white);
    border: none;
    box-shadow: 0px 0px 0px 3px rgba(32, 156, 238, 0.4);
}

.ghost-btn {
    background-color: var(--white);
    color: var(--black);
}

.ghost-btn:focus {
    color: var(--black);
    background-color: var(--white);
    box-shadow: 0px 0px 0px 2px rgba(160, 163, 189, 0.5);
}

.ghost-btn:hover {
    background-color: var(--gray1);
    color: var(--black);
}

/* End buttons */

/* Inputs  */
.form-control {
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.form-control:focus {
    color: var(--black);
    background-color: var(--white);
    border-color: var(--black);
    outline: 0;
    box-shadow: 0px 0px 0px 2px rgba(160, 163, 189, 0.5);
}


.input-icon .form-control {
    padding-left: 2.5rem;
    border-radius: .5rem !important;
    -webkit-border-radius: .5rem !important;
    -moz-border-radius: .5rem !important;
    -ms-border-radius: .5rem !important;
    -o-border-radius: .5rem !important;
}

.input-icon span {
    /* background-color: pink; */
    position: absolute;
    z-index: 4;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End inputs */

/* Alerts */
.alert {
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: .875rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.alert-info {
    color: var(--blue6);
    background-color: var(--blue3);
    border-color: var(--blue3);
}

.icon-fill {
    font-variation-settings:
        'FILL' 1
}

/* End alerts */

/* Backgrounds */
.bg-info {
    background-color: var(--blue2) !important;
}

.bg-default {
    background-color: var(--gray2) !important;
}
/* End background */

/* badges */

.badge-success {
    color: #76B435;
}

.badge-warning {
    color: #FFAE11;
}

.badge-danger {
    color: #FF5F73;
}

.badge-info {
    color: #518AF9;
}

/* End badges */

/* Tags */
.tag {
    /* background-color: lavender; */
    display: inline-block;
    padding: .25rem .75rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.tag-info {
    background-color: var(--blue2);
    border: solid 1px var(--blue6);
    color: var(--blue6);
}

.tag-success {
    background-color: var(--green2);
    border: solid 1px var(--green6);
    color: var(--green6);
}

.tag-warning {
    background-color: var(--primary2);
    border: solid 1px var(--primary7);
    color: var(--primary7);
}

.tag-danger {
    background-color: var(--red2);
    border: solid 1px var(--red6);
    color: var(--red6);
}
/* End tags */

/* UI KIT */

/* DASHBOARD */
.main-panel {
    display: flex;
}

.panel {
    display: none;
}

.active-panel {
    display: block;
  }

/* Sidebar */

.wrap-sidebar-admin {
    /* background-color: var(--Gray8); */
    width: 16rem;
    min-height: 100vh;
    position: fixed;
    left: 0;
}

.wrap-brand-logo {
    background-color: var(--white);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    padding: 1rem;
}

.wrap-brand-logo img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }

.sidebar-admin-list {
    background-color: var(--primary6);
    list-style: none;
    padding-left: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 2rem .5rem;
}

.sidebar-item-btn {
    /*background-color: lavender;*/
    width: 100%;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.sidebar-item-btn:focus {
    box-shadow: none;
}

.sidebar-item-db {
    /* background-color: var(--primary3); */
    color: var(--black);
}

.sidebar-item-db:hover {
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
}

.active-item {
    background-color: var(--primary3);
    color: var(--black);
}

.sidebar-list-collapse,
.btn-toggle-nav {
    list-style: none;
    /* background-color: tomato; */
}

.btn-toggle-nav {
    padding-left: 0;
}

.sidebar-item-collapse {
    /*background-color: lavender;*/
    display: inline-block;
    padding: .75rem 1.5rem;
    text-decoration: none;
    width: 100%;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.sidebar-list-collapse--vales,
.sidebar-list-collapse--sedes {
    display: none;
}

/* End sidebar */

/* admin panel */
.admin-panel {
    background-color: var(--gray1);
    width: calc(100% - 16rem);
    min-height: 100vh;
    margin-left: 16rem;
    padding: 2rem 1.5rem;
}

.navbar-panel {
    /* background-color: var(--white); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.navbar-panel__title {
    /* background-color: pink; */
}

.navbar-panel__title h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.navbar-panel__title p {
    margin-bottom: 0;
    color: var(--gray4);
}

.wrap-switch-btn-perfil {
    /* background-color: lavender; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-switch-admin {
    display: flex;
    align-items: center;
    gap: .5rem;
    border: none;
    padding: 0;
}

.label-switch-admin {
    /* background-color: lightskyblue; */
    margin-bottom: 0;
    font-size: .875rem;
    text-align: end;
    text-transform: none;
    line-height: 1rem;
}

.switch-admin {
    /* background-color: lightgreen; */
    height: 1.5rem;
}

.dropdown-admin {
    padding: 0;
}

.dropdown-admin__img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

.btn-group-dropdown-perfil .dropdown-toggle::after { 
    content: none; 
} 

/* End admin panel */

.dashboard-main {
    display: flex;
    gap: 1.5rem;
}

.wrap-charts {
    /* background-color: lavender; */
    width: 100%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.card-admin {
    background-color: var(--white);
    border: 1px solid var(--gray3);
    padding: 1.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5re;
    -moz-border-radius: .5re;
    -ms-border-radius: .5re;
    -o-border-radius: .5re;
}

.card-admin__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.chart-colaboradores {
    /* background-color: tomato; */
    width: 15rem;
}

.wrap-chartColaboradores-table {
    display: flex;
    gap: 8rem;
    align-items: center;
}

.table-chart-colaboradores td:first-child, .table-chart-canal td:first-child {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
}

.table-chart-colaboradores, .table-chart-canal {
    /* background-color: lavender; */
    text-align: right;
    font-weight: 700;
}

.table-chart-colaboradores tbody tr:last-child td {
    margin-bottom: 1rem;
}

.table-chart-colaboradores tfoot td {
    background-color: var(--blue2);
}

.table-chart-colaboradores tfoot td:first-child {
    /* background-color: pink; */
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.table-chart-colaboradores tfoot td:last-child {
    /* background-color: var(--green3); */
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.card-participacionCanal {
    width: 50%;
}

.chart-participacionCanal {
    /* background-color: tomato; */
    width: 10rem;
}

.wrap-chartCanales-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.table-chart-canal {
    margin-bottom: 0;
    width: 70%;
}

.row-cards-admin {
    display: flex;
    gap: 1.5rem;
}

.card-beneficiosVisitas {
    width: 100%;
}

.progressbar-beneficios {
    height: 2.5rem;
    background-color: var(--white);
    width: 100%;
}

.progressbar-beneficios .progress-bar {
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.chart-bar-beneficios {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: 1.2rem;
    position: relative;
}

.chart-bar-beneficios:last-child {
    margin-bottom: 0;
}

.chart-bar-beneficios__position {
    background-color: var(--blue5);
    color: var(--white);
    min-width: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    max-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.progressbar-beneficios p {
    position: absolute;
    margin-bottom: 0;
    font-size: 1rem;
    top: .5rem;
    left: 3.5rem;
}


/* Sidebars events */
.sidebar-events {
    /* background-color: #FFE578; */
    width: 25rem;
}

.wrap-events {
    margin-bottom: 1.5rem;
}

.wrap-events .btn, .wrap-birthdays .btn {
    width: 100%;
}

.card-event__month {
    margin-bottom: 1rem;
}

.card-event__month-title {
    /* background-color: pink; */
    font-size: .875rem;
    text-transform: uppercase;
}

.card-event {
    padding: .25rem .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.card-event--active {
    background-color: var(--blue2);
}

.card-event p {
    margin-bottom: 0;
}

.card-event__date {
    font-weight: 700;
}

.card-birth {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    margin-bottom: .5rem;
}

.card-birth__date {
    font-weight: 600;
}

.card-birth__active {
    background-color: var(--blue2);
}

.card-birth__colaborator {
    /* background-color: lavender; */
    padding-left: 1rem;
    border-left: 2px solid var(--black);
}
/* Sidebar events */

/* END DASHBOARD */

/* MODALS */
.modal-content {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.modal-title  {
    font-weight: 700;
    font-weight: 1.25rem;
}

.modal-header, .modal-footer {
    border: none;
}
/* EN MODALS */

/* PANEL COLABORADORES */
.navbar-actions {
    /* background-color: lavender; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.navbar-actions__filtros {
    display: flex;
    gap: .5rem;
}

/* End Datatables sort icons */

.table-admin thead th {
    background-color: var(--gray5);
    color: var(--gray1);
}

.table-admin thead th:first-child {
    /* background-color: blue; */
    border-top-left-radius: .5rem;
}

.table-admin thead th:last-child {
    /* background-color: blue; */
    border-top-right-radius: .5rem;
}

.table-admin tbody th, .table-admin tbody td  {
    background-color: var(--white);
}

.table-admin {
    /* background-color: pink; */
    border: solid 1px var(--gray2);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

table.dataTable {
    margin-bottom: 0 !important;
}

.dataTables_wrapper .bottom {
    background-color: var(--gray2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem .5rem;
    border: solid 1px var(--gray2);
    border-top: none;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
/* END PANEL COLABORADORES */

